.radio-container {
    display: none;
    position: fixed;
    z-index: 50000;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    background-color: white;
}

.mobile-wrapper-header {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 0;
}

.mobile-main-menu-wrapper {
    height: 100%;
    padding-bottom: 40px;
}

.mobile-wrapper-header > span {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    font-size: 17px;
}

.mobile-wrapper-header > a {
    height: 100%;
    width: 40px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}