.modal-dialog {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    margin: 0 auto;
}
.modal-header{
    border-bottom: 0;
}
.modal .close {
    border-radius: 50% !important;
}
.modal-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  padding-right: 1.5rem;
}

.modal-img-wrap img {
  max-width: 100%;
  height: auto;
}
.modal>.close {
    background: rgba(39, 124, 217, 1);
}
.modal-body .button-group-page .wishlist-compare {
    margin-left: unset!important;
    margin: 10px auto;
}
.modal .product-info .button-group-page .btn-wishlist{
    margin-left: 0 !important;
}
a.truncate-text {
  display: inline-block !important;
  max-width: 300px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.main-products{
    margin-bottom: 3rem;
}

.filter-price .range-slider {
    position: relative;
    width: auto;
    margin: 10px auto;
    height: 10px;
  }

.filter-price .range-slider input[type=range] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    height: 10px;
    top: 18px;
}

.filter-price .range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

.filter-price .slider-track {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.filter-price .inputs {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: auto;
}

.filter-price .inputs .input-wrapper {
    position: relative;
    width: 45%;
}

.filter-price .inputs input {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    height: 35px;
    font-size: 14px;
}

.filter-price .inputs .input-wrapper span {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-weight: bold;
    font-size: 14px;
}
#content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
}
.layout-2 .title.page-title {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    border-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: none;
    border-color: rgba(0, 0, 0, 0);
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: left;
}
.grid-item-306-1-1-1{
    padding: 0 10px;
    padding-right: 20px;
}
.module-title-311, .module-title-312{
    margin-left: 0;
}
.links-menu-72, .module-title-312{
    margin-top: 15px;
}
.accordion-menu-126.accordion-menu .j-menu>li>a {
    font-size: 13px;
    color: rgba(109, 118, 125, 1);
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px;
    padding-right: 0px;
    padding-left: 0px;
}
.accordion-menu-126.accordion-menu .j-menu>li>a:hover {
    color: rgba(231, 61, 80, 1);
}
.my-orders, .my-newsletter{
    margin-top: 20px;
}
.account-list>li.edit-rewards>a::before,
.account-list>li.edit-order>a::before,
.account-list>li.edit-address>a::before{
    content: none !important;
}
.account-list>li.edit-rewards>a svg,
.account-list>li.edit-order>a svg,
.account-list>li.edit-address>a svg{
    margin-top: 5px;
    margin-bottom: 5px;
}
.grid-row-bottom-1 {
    background: rgba(238, 238, 238, 1);
    padding: 20px;
    padding-bottom: 40px;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 1);
}
.module-products-262 .tab-container .nav-tabs {
    flex-direction: row;
}
.module-products-262 .nav-tabs {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 1);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    min-width: 50px;
}
.module-products-262 .nav-tabs>li.active {
    border-color: rgba(231, 61, 80, 1);
}
.desktop .module-products-262 .nav-tabs > li:hover > a, .module-products-262 .nav-tabs>li.active>a {
    color: rgba(231, 61, 80, 1);
}
.module-products-262 .product-grid .product-thumb {
    background: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
    padding: 5px;
}
.module-products-262 .product-grid .product-thumb .name {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}
.module-products-262 .product-grid .product-thumb .price {
    display: block;
    font-size: 15px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    justify-content: flex-start;
    padding: 8px;
    padding-top: 0px;
}
.module-products-262 .product-grid.product-grid .product-thumb .buttons-wrapper {
    position: static;
    width: auto;
    overflow: visible;
    order: initial;
    margin-top: auto;
    transform: none;
}
.module-products-262 .product-grid.product-grid .product-thumb .buttons-wrapper .button-group {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
}
.module-products-262 .product-grid.product-grid .product-thumb .button-group {
    padding: 8px;
    padding-bottom: 5px;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 1);
}
.module-products-262 .product-grid .product-thumb .button-group {
    justify-content: space-between;
}
.module-products-262 .product-grid.product-grid .product-thumb .cart-group {
    flex: initial;
}
.module-products-262 .product-grid .product-thumb .cart-group {
    display: inline-flex;
}
.module-products-262 .product-grid.product-grid .wish-group {
    position: static;
    width: auto;
    top: auto;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    justify-content: flex-start;
}
.module-products-262 .product-grid .product-thumb .stepper {
    display: none;
    margin-right: 5px;
    height: 36px;
}
.module-products-262 .product-grid .product-thumb .btn-cart.btn {
    padding: 2px;
    padding-right: 7px;
    padding-left: 7px;
    min-width: 20px;
    min-height: 20px;
}
.module-products-262 .product-grid .product-thumb .btn-cart.btn, .module-products-262 .product-grid .product-thumb .btn-cart.btn:visited {
    text-transform: none;
}
.module-products-262 .product-grid.product-grid .product-thumb .btn-cart {
    flex: initial;
}
.module-products-262 .product-grid .product-thumb .btn-cart .btn-text {
    display: inline-block;
    padding: 0;
}
.module-products-262 .product-grid .product-thumb .btn-wishlist.btn {
    background: none;
    border-style: none;
    padding: 3px;
    box-shadow: none;
}
.module-products-262 .product-grid .product-thumb .btn-wishlist.btn, .module-products-262 .product-grid .product-thumb .btn-wishlist.btn:visited {
    color: rgba(48, 56, 65, 1);
    text-transform: none;
}
.module-products-262 .product-grid .product-thumb .btn-wishlist {
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}
.module-products-262 .product-grid .product-thumb .btn-compare.btn {
    background: none;
    border-style: none;
    padding: 3px;
    box-shadow: none;
}
.module-products-262 .product-grid .product-thumb .btn-compare.btn, .module-products-262 .product-grid .product-thumb .btn-compare.btn:visited {
    color: rgba(48, 56, 65, 1);
    text-transform: none;
}
.module-products-262 .product-grid .product-thumb .btn-compare {
    display: inline-flex;
}
.module-products-262 .btn-cart::before{
    content: none !important;
}
.module-products-262 .product-grid .product-thumb .image .btn {
    background: rgba(48, 56, 65, 1);
    padding: 12px;
    border-radius: 0px !important;
}
.module-products-262 .product-grid .product-thumb .image .btn, .module-products-262 .product-grid .product-thumb .image .btn:visited {
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-transform: capitalize;
}
.module-products-262 .product-grid .product-thumb .btn-quickview {
    visibility: hidden;
    opacity: 0;
    transform: scale(.88);
    width: 30px;
    height: 30px;
}
.module-products-262 .product-grid .product-thumb .quickview-button {
    display: flex;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate3d(-50%, -50%, 1px);
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
    color: #000;
    font-size: 30px;
    top: 40%;
}
.carousel-control.right{
    right: -10px;
}
.carousel-control.left{
    left: -10px;
}
.carousel-control{
    width: 2%;
}
.carousel-inner .product-layout.product{
    margin-bottom: 15px;
}
.carousel-inner.product-grid{
    margin-top: 15px;
}
.module-products-262 .carousel-inner.product-grid:not(.swiper-wrapper){
     display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-wrapper { position: relative; }
.quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 767px), (max-height: 600px) {
    .modal-dialog {
        top: 10%;
        transform: none;
    }
    .product-info{
        padding-bottom: 10rem;
        min-height: 350px;
    }
    .product-info .product-details .button-group-page .wishlist-compare{
        margin-top: 10px;
    }
}